*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    font-family: arial,sans-serif;
}
h1{
    margin-bottom: 20px;
}
.board{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px); 
      
}
.box{
    width: 100px;
    height: 100px;
    background: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;    
}
.box:hover{
    background: #ddd;
}
#result{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
