 *{
   box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkgrey;
    font-family: arial;       
}
.board{
    display: grid;
    /* background-color: rgba(131, 131, 6, 0.219); */
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
}
.box{
    width: 100px;
    height: 100px;
    background: rgba(131, 131, 6, 0.219);    
    font-size: 40px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.box:hover{
    background-color: aliceblue;
}
#result{
    margin-top: 20px;
    font-size: 25px;
    font-family: sans-serif;
}
.btn{
    margin-top: 40px;
    padding: 10px;
    background: #000;
    color: white;
    cursor: pointer;
}
.btn:hover{
     background: #504d4d;
     transform: scale(1.2);
}


