.box1{

    width: 500px;
    height: 500px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;    
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
}
.sub1{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.sing{
    font-size: 60px;
    line-height: 10px;
    padding: 10px;
    display: none;
}
.sing2{
    font-size: 60px;
    line-height: 10px;
    padding: 10px;
    display: none;
}