h1{
    text-align: center;
    color: teal;
}

.div1::before{
    content: "one ";
    font-size: 30px;
    color: aqua;
}
.div2::after{
    content: " two";
    font-size: 30px;
    color: aqua;
}    
.one{
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.one::before{
    content: "";
    width: 300px;
    height: 300px;
    background-color: yellow;
    position: absolute;
    left: 100%;
     transition: 1s;
}
.one::after{
    content: "";
    width: 300px;
    height: 300px;
    background-color: yellowgreen;
    position: absolute;
    right: 100%;
     transition: 1s;
}
.one:hover::before{
    left: 50%;
}
.one:hover::after{
    right: 50%;
}
.two{
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;   
    overflow: hidden;
    margin-top: 50px;
}
.two::before{
    content: "";
    width: 300px;
    height: 300px;
    background-color: #4c2a27;
    position: absolute;
    top: 100%;
    transition: 1s;
}
.two::after{
    content: "";
    width: 300px;
    height: 300px;
    background-color: yellowgreen;
    position: absolute;
    bottom: 100%;
    transition: 1s;
}
.two:hover::before{
    top: 50%;
}
.two:hover::after{
    bottom: 50%;
}
.line{
    background-color: #4c2a27;
    font-size: 32px;
    color: red;
    text-align: center;
}
.line::after{
    content: "";
    width: 200px;
    height: 3px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    top: -4px;
}
.line::before{
    content: "";
    width: 200px;
    height: 3px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    top: -4px;
}
.letter::first-letter{
    color: green;
    font-size: 32px
}
.f_l::first-line{
    color: violet;
    font-size: large;
}
.select::selection{
    color: blue;
    background-color: pink;
}
.button input{
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
}
.button input:hover::placeholder{
    color: red;
    font-style: italic;
    background-color: yellow;
    transition: 1s;
}
.first_li::marker{
    font-size: 30px;
    color: green;
}
.second_li::marker{
    content: "🔥 ";
    font-size: 22px;
}
.btn input[type="file"]{
    font-size: 20px;
}
.btn input[type="file"]::file-selector-button{
    content: "";
    width: 250px;
    background-color: wheat;
    padding: 15px 25px;
    border-radius: 15px;
    transition: 1s;
}
.btn input[type="file"]::file-selector-button:hover{
    background-color: turquoise;
    color: red;
    transform:scale(0.9);
}
.icon::after{
    content: "\f09a";
    font-family: "Font Awesome 7 Brands" ;
    margin-left: 15px;
    font-size: 22px;
}
.icon2::before{
    content: "\f105";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 30px;
}





