*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    height: 81px;
    }
.main-sub{
    width: 90%;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
 }
.div1{
    width: 20%;
    height: 81px;
    }
.div2{
    width: 70%;
  }
  .only-word{
    color: #ffbc06;
  }
.div2 ul{
}
.div2 ul li{
    list-style: none;    
    display: inline-block;
}
.div2 ul li a{
    color: #292b2c;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 36px 9px;
    display: block;
    font-weight: bold;
}
.div2 ul li a:hover{
    color: #ffbc06;
}
.div2 ul li:hover .mega{
     display: block; 
}
.mega{
    width:100%;
    /* height: 500px; */
    background-color: white;
    display: none;
    position: absolute;
    left: 0px;
    top: 85px;
    z-index: 999;

}
.only_flex{
    display: flex;
    flex-wrap: wrap;
}
.div2 ul li:hover .mega2{
    display: block;
}
.mega2{
    width: 200px;
     background-color: white;
    position: absolute;
    display: none;
    text-align: left;
    z-index: 999;
}
.one{
    width: 100%;
}
.one_ul{
    margin: 0;
    padding: 0;
}
.one ul li{
    width: 100%;
}
.one ul li a{
    padding: 5px;
    text-align: left;
}
.sub{
    width: calc(25% - 15px);
    margin-top: 15px;
    margin-right: 15px;
}
.sub ul{
    margin: 0;
    padding: 0;
    }
.sub ul li{
    width: 100%;
}
.sub ul li a{
    padding:7px;
    text-align:left;
    padding-left: 0px;
}
.main2 {
    width: 100%;
    height: 700px;
    position: relative;
}
button{
    color: white;
    font-size: 60px;
    background-color: #292b2c;
}
.button_one{
    position: absolute;
    top: 50%;
    left: 90px;
    background-color: #292b2c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 29px;
    cursor: pointer;
}
.button_two{
    position: absolute;
    top: 50%;
    right: 90px;
    background-color: #292b2c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 29px;
    cursor: pointer;
}
.main_box{
    width: 100%;
    margin-top: 50px;
    display: flex; 
    flex-direction: row;   
}
.sub_box{
    width: 30%;
    height: 800px;
    margin: 20px;
    text-align: center;
    box-shadow: 2px 12px 16px #ccc;
}
.class1{
    margin: 0;
    padding: 30px;
    background-color: white;
    width: 80%;
    height: 700px;
    display: inline-block;
}
.box1{
    width: calc(100% - 20px);
    text-align: center;
    padding: 10px;    
}
.box1_sub{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #554DA7;
    display: inline-block;
}
.box1 h3{
    margin-bottom: 10px;
}
.box1 p{
    text-align: justify;
    color: #888888;
    font-size: 22px;
}
h3{
    text-align: center;
    margin-top: 20px;
    font-size: 33px;
}
p{
    font-size: 24px;
}
.box1_sub2{
    border: 1px #ddd solid;
    display: inline-block;
    margin: 20px 0px; 
}
.class2{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.box1_sub3{
    color: #ffbc06;
}
.btn{
    width: 150px;
    height: 50px;
    background-color: #003366;
    text-align: center;
    color: white;
    line-height: 50px;
    font-size: 22px;
}