h2{
    text-align: center;
    color: #030303;
    margin: 0px 0px 14px;
}
h1{
    text-align: center;    
}
p{
    font-size: 30px;
    color: #4c4c4c;
}
button{
    color: #ffffff;
    background-color: #0c5776;
    height: 80px;
    width: 300px;
    font-size: 30px;
    border-radius: 50px;
    margin-top: 30px;
}
button:hover{
    color: red;
    background-color: aqua;
}
img{
    border-radius: 20px;
}
.only{
    font-weight: bold;
    text-align: left;
    font-size: 40px;
}
.box{
    width: 100%;
    height: 150px;
    background-color: #F6F4EE;
    padding: 10px;
}
.box1{
    width: 100%;
    height: 50px;
}
.box2{
    width: 100%;
    height: 80px;
}
.main{
    width: 100%px;
    height: 800px;
    padding: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}
.icon_color{
    color: #00ade2;
}
.main_sub1{
    width: 30%;
    height: 700px;
    background-color: #F6F4EE;
    padding: 12px 12px 36px;
}
.main_sub1_box1{
    width: 550px;
    height: 300px;
    padding: 10px;    
}
.main_sub1_box2{
    width: 20%;
    height: 350px;
    background-color: #F6F4EE;
    float: left;
    display: inline-block;
}
.main_sub1_box3{
    width: 80%;
    height: 350px;
    background-color: #F6F4EE;
    float: left;
}
.only2{
    text-align: center;
    color: white;
    font-size: 200px;
}
.main2{
    width: 90%;
    height: 800px;
    border: solid black;
    border-radius: 30px;
    padding: 10px;
    background-image: url(istockphoto-2155879397-612x612.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
       
}
.main2_sub{
    /* width: 60%; */
    height: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.main2_sub2{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}
.main2_sub2_box1{
    width: 400px;
    height: 400px;
    border: 10px solid #0c5776;
    border-radius: 50px;
    overflow: hidden;
}



