.top{
    width: 1265px;
    height: 37px;
    padding: 10px 0px;
    background-color: #003366 !important;
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.5;
}
.top_sub{
    width: 1140px;
    height: 37px;
    color: #888888;
    background-color: aqua;
    margin: 0px 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
}