h1{
    color: #ffffff;
    font-size: 18px;
    line-height: 10px;
}
p{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}
button{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;   
  
}


.main{
    width: 1265px;
    height: 1907.81px;
    padding: 50px 0px;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.main_sub1{
    width: 350.95px;
    height: 349.95px;   
    position: relative;
    transition: 0.8s ease;
    overflow: hidden;
}
.main_sub2{
    width: 350.95px;
    height: 52px;
    background-color: #f27c21;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.main_sub2_sub{
    width: 291.95px;
    height: 22px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    
}
.icon{
    color: #ffffff;
}
.box{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    transition: 0.8s ease;
    display: flex;
    justify-content: center;   
    align-items: center;
    opacity: 0;
    scale: 1.2;

}       
.box1{
    /* width: 75%; */
    /* height: 75%; */
    text-align: center;
    align-content: center;  
}
.icon2{
    font-size: 40px;
    color: #fff;
}
.main_sub1:hover .box{
    opacity: 1;
    scale: 1;
}

.main_sub1:hover {
    scale: 1.2;
}

.abc{
    overflow: hidden;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.two_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;    
}
.two_sub1{
    width: 350.95px;
    height: 349.95px;
    transition: 1s;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box2{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 349.95px;
    transition: 1s;    
}
.two_sub1:hover .box2{
    right: 0;
}
.thr_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.thr_sub1{
    width: 350.95px;
    height: 349.95px;
    transition: 1s;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
    }
.box3{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 349.95px;
    transition: 1s;
}
.thr_sub1:hover .box3{
    left: 0;
}
.four_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.four_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box4{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 349.95px;
    transition: 1s; 
}
.four_sub:hover .box4{
    top: 0;
}
.fif_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.fif_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box5{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.8);
    transition: 1s;
    position: absolute;
    right: 100%;
    top:-50%;
    transform: rotate(-180deg);
}
.fif_sub1:hover .box5{
    transform: rotate(0deg);
    right: 0;
    top: 0; 
}
.six_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.six_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box6{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.8);
    transition: 1s;
    position: absolute;
    left: 100%;
    top:-50%;
    transform: rotate(-180deg);
}
.six_sub1:hover .box6{
    transform: rotate(0deg);
    left: 0;
    top: 0;
}
.sev_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.sev_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box7{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.8);
    transition: 1s;
    position: absolute;
    bottom: 349.95px;
}
.sev_sub1:hover .box7{
    bottom: 0;
}
.eit_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.eit_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box8{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 1);
    transition: 1s;
    position: absolute;
    top: 0;
    right: 349.95px;
 }
 .eit_sub1:hover .box8{
    right: 0;
 }
 .nine_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.nine_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box9{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 1);
    transition: 1s;
    position: absolute;
    top: 0;
    left: 349.95px;
 }
 .nine_sub1:hover .box9{
    left: 0;
 }
 .ten_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.ten_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box10{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 1);
    transition: 1s;
    position: absolute;
    bottom: 349.95px;
}
.ten_sub1:hover .box10{
    bottom: 0;
}
.elv_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
}
.elv_sub1{
    width: 350.95px;
    height: 349.95px;
    overflow: hidden;
    position: relative;
    margin-left: 14.5px;
    margin-right: 14.5px;
}
.box11{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 1);
    position: absolute;
    top: 349.95px;
    transition: 1s; 
}
.elv_sub:hover .box11{
    top: 0;
}
.twl_sub{
    width: 379.95px;
    height: 451.95px;
    background-color: aliceblue;
    
}
.twl_sub1{
    width: 350.95px;
    height: 349.95px;
    position: relative;
    scale: 1;
}
.box12{
    width: 349.95px;
    height: 349.95px;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    opacity: 0;
    scale: 1.2;
    transition: 1s;
}
.twl_sub1:hover{
    scale: 1.2;
}
.twl_sub1:hover .box12{
    scale: 1;
    opacity: 1;
}














