.col{
    background-color: #003366 !important;
    color: #fff;    
}
.flex{
    display: flex;
    gap: 20px;   
    align-items: center; 
    
}
.brd{
    border: #fff;
    /* color: #fff; */
}
.mr{
    margin-left: 100px;
}
.pad{
    padding: 10px;
}
.size{
    font-size: large;
}
.col2{
    color: #292b2c !important;
    font-weight: 600;
}
.col2:hover{
    color: #ffbc00 !important;
    transition: 0.5s;
}
.hov:hover{
    color: #ffbc00 !important;
    transition: 0.5s;
}



